<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <header>
    
      {{> header}} 
    </header>

    <main>
      <h1>Welcome!</h1>
{{!-- {{#if user}}
        <button id="create-post-button">Create Post</button>
        <div id="form-container"></div>
      {{else}}
       <button id="to-post-button">Please log in to create a post</button>
      {{/if}}

      {{#if posts.length}}
        <section id="posts">
          {{#each posts}}
            <article class="post">
              <h2><a href="/posts">{{this.title}}</a></h2>
              <p>Posted on {{this.createdAt}}</p>
            </article>
          {{/each}}
        </section>
      {{else}}
        <p>No blog posts have been published yet.</p>
      {{/if}} --}}


      <h1>All Posts</h1>
<ul>
    {{#each posts}}
        <li><a href="/post/{{this.id}}">{{this.title}}</a></li>
    {{/each}}
</ul>
    </main>

    <footer>
     {{> footer}} 
    </footer>
     <script src="../public/js/home.js"></script>
  </body>
</html>