<!-- post.hbs -->
{{> header}} <!-- Include the header partial here -->

{{!-- <div class="container">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <!-- Add more details of the blog post here -->
</div> --}}


<h1>{{post.title}}</h1>
<p>{{post.body}}</p>
<h2>Comments</h2>
<ul>
    {{#each post.comments}}
        <li>{{this.body}} by {{this.author}}</li>
    {{/each}}
</ul>
<a href="/">Back to Home</a>


{{> footer}} <!-- Include the footer partial here -->
